<mat-card>
    <h2>Issue Details</h2>
    Numero Total de Issues: {{totalIssues}}
    <br>
    Total issues abertos: {{totalIssuesOpened}}
    <br>
    Total issues fechados: {{totalIssuesClosed}}
    <br>
    Tempo Total Gasto em Issues (h): {{totalTimeSpent}}
    <br>
    Participantes:
    <div *ngFor="let user of users">
        {{user}}
        <br>
    </div>
</mat-card>


<br>
<mat-card>
    <h2>Number of issues by label</h2>

    <canvas id="labelchart" class="labelchart"> {{labelPieChart}}</canvas>
</mat-card>
<br>

<mat-card *ngFor="let macro of macros">

    <mat-card-title-group>

        <mat-card-title>
            {{macro.title}}
        </mat-card-title>


        <mat-card-subtitle>
            <br>
            Issue id:{{macro.iid}}
            <br>
            issue state: {{macro.state}}
        </mat-card-subtitle>
    </mat-card-title-group>

    <br>



    <mat-card-content>


        ---TIME STATS---
        <br><br>
        Time Estimate: {{macro.time_stats.time_estimate}}
        <br>
        Total Time Spent: {{macro.time_stats.total_time_spent}}
        <br>
        Human Time Estimate: {{macro.time_stats.human_time_estimate}}
        <br>
        Human Total Time Spent: {{macro.time_stats.human_total_time_spent}}
        <br>
        <div *ngIf="macro.assignee">
            Assignee: {{macro.assignee.username}}
        </div>
        <br>
        <div *ngIf="macro.milestone">
            <h3>Milestone: {{macro.milestone.title}}</h3>

            <br>
        </div>
        <!-- <div *ngIf="macro.labels">
                Labels:
                <div *ngFor="let label of macro.labels">
                    {{label}}
                    <br>
                </div>
            </div> -->


    </mat-card-content>



</mat-card>

<br>