<div>
    <br>
    <h1>{{project.name_with_namespace}}</h1>
</div>
<div>
    <br>
    <h2>Issue Details</h2>
    Numero Total de Issues: {{totalIssues}}
    <br>
    Tempo Total Gasto em Issues (h): {{totalTimeSpent}}
    <br>
    <br>
    Users:
    <div *ngFor="let user of users">
        {{user}}
        <br>
    </div>
</div>
<br>
<!-- 
    <div>
        <h2>Issue List:</h2>
    </div>

    <div *ngFor="let issue of issuesList">

        <br>
        Issue id: {{issue.iid}}
        <br>
        title: {{issue.title}}
        <br>
        state: {{issue.state}}
        <br>
        Total Time Spent: {{issue.time_stats.total_time_spent}}
        <br>
        Human TTS: {{issue.time_stats.human_total_time_spent}}
        <br>
        <div *ngIf="issue.assignee">
            Assignee: {{issue.assignee.username}}
        </div>

        <mat-divider></mat-divider>

    </div> -->
<br>
<div>
    <h2>Label Chart</h2>

    <canvas id="labelchart" class="labelchart"> {{labelPieChart}}</canvas>
</div>
<br>
<div>
    <h2>Milestone List</h2>
    <div *ngFor="let ms of milestonesList">
        <br>
        ID: {{ms.id}}
        <br>
        Title: {{ms.title}}
        <br>
        Description: {{ms.description}}
        <br>
        State: {{ms.state}}
    </div>
</div>
<br>