<div class="row" onclick="">
    <a href="#" class="list-group-item clearfix">
        <div class="pull-left" *ngFor="let p of project_details">
            <!--  <h3 class="list-group-item-heading">Project label: {{project_details.label}}</h3>
            <h4 class="list-group-item-text">Project label desc:{{project_details.label_description}}</h4> -->

            <!-- <h3 class="list-group-item-heading">Project label:{{p.id}}</h3> -->
            <br>
            <h3 class="list-group-item-heading">Project label:{{p.name}}</h3>
            <br>
            <h3 class="list-group-item-heading">Project label:{{p.description}}</h3>


        </div>
        <span class="pull-right">
            <img src="" alt="" class="img-responsive" style="max-height: 50px;">
        </span>
    </a>

</div>