.example-card {
    max-width: 50px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.piechart {
    display: block;
    max-width: 800px;
    max-height: 500px;
    width: auto;
    height: auto;
}

.barchart {
    display: block;
    max-width: 600px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.radarchart {
    display: block;
    max-width: 600px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.matDivider {
    border-top-width: 2px;
    border-top-style: dashed;
}

.gridList {
    max-width: 1000px;
    max-height: 1000px;

}