<div>
    <canvas id="piecanvas" class="piechart"> {{pieChart}}</canvas>
    <br>
    <mat-divider class="matDivider"></mat-divider>
    <br>
    <canvas id="barcanvas" class="barchart"> {{barChart}}</canvas>
    <br>
    <mat-divider class="matDivider"></mat-divider>
    <br>
    <canvas id="radarcanvas" class="radarchart"> {{radarChart}}</canvas>
    <br>
    <!-- <mat-grid-list class="gridList" cols="3">
        <mat-grid-tile>

            <canvas id="radarcanvas" class="radarchart"> {{radarChart}}</canvas>

            <canvas id="barcanvas" class="barchart"> {{barChart}}</canvas>

            <canvas id="piecanvas" class="piechart"> {{pieChart}}</canvas>

        </mat-grid-tile>
    </mat-grid-list> -->
</div>