<!-- header -->

<mat-toolbar class="mat-elevation-z8">

    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>


    <div id="header_subtitle">
        <span>{{subtitle}}</span>
    </div>

    <img id="gitlab_logo" width="40" src="../../assets/gitlab.svg" />

    <div class="spacer"></div>
    <a href="https://www.atlanse.pt/en" title="Atlanse" id="atlanse_logo">
        <div>
            <img src="../../assets/logo.svg" />
        </div>
    </a>
</mat-toolbar>


<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <h2>Menu</h2>
        <!--  <img class="avatar mat-elevation-z8" src="" alt=""> -->

        <!-- <h4 class="name">Zé abilio</h4>
        <p class="designation">yes</p> -->

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>

        <button mat-button class="menu-button" routerLink="/projects">
            <mat-icon>work_outline</mat-icon>
            <span>Projects</span>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Users</span>
        </button>

        <mat-divider></mat-divider>


    </mat-sidenav>

    <mat-sidenav-content>

        <app-project></app-project>


    </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div class="toolbar" role="banner">
    <img id="gitlab_logo" width="50" src="../../assets/gitlab.svg" />
    <div id="header_subtitle">
        <span>{{subtitle}}</span>
    </div>
    <div class="spacer"></div>
    <a href="https://www.atlanse.pt/en" title="Atlanse" id="atlanse_logo">
        <div>
            <img src="../../assets/logo.svg" />
        </div>
    </a>
</div> -->