.spacer {
  flex: 1;
  height: 40px;
  margin: 0 16px;
  opacity: 0.8;
}

#header_subtitle {
  padding-right: 15px;
}

/* .toolbar {
  height: 60px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #813fc3;
  color: white;
  font-weight: 600;
} */


.toolbar #atlanse_logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #atlanse_logo:hover {
  opacity: 0.8;
}

mat-sidenav-content {
  /*  height: calc(100vh - 98px); */
  margin: 16px;
  margin-left: 30px;
  /* display: flex; */
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;

  border-radius: 10px;
}

/* .content {
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;

  border-radius: 10px;
} */

mat-toolbar {
  background-color: #4D4C7D;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 250px;
  border-right: none;
  color: white;
  background: #363062;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

mat-sidenav-container {
  height: calc(100vh - 98px);
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: grey;
}

mat-icon {
  margin-right: 20px;
  color: white;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.4rem;
  /* margin-left: 35%;
  margin-top: 10%; */
}

.name {
  margin: 0;
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}