<!-- header -->
<nav class="navbar navbar-default">

    <div class="toolbar" role="banner">
        <img id="gitlab_logo" width="50" src="../../assets/gitlab.svg" />
        <div id="header_subtitle">
            <span>{{subtitle}}</span>
        </div>
        <div class="spacer"></div>
        <a href="https://www.atlanse.pt/en" title="Atlanse" id="atlanse_logo">
            <div>
                <img src="../../assets/logo.svg" />
            </div>
        </a>
    </div>
</nav>

<!-- <div class="toolbar" role="banner">
    <img id="gitlab_logo" width="50" src="../../assets/gitlab.svg" />
    <div id="header_subtitle">
        <span>{{subtitle}}</span>
    </div>
    <div class="spacer"></div>
    <a href="https://www.atlanse.pt/en" title="Atlanse" id="atlanse_logo">
        <div>
            <img src="../../assets/logo.svg" />
        </div>
    </a>
</div> -->