/* .example-card {
    max-width: 200px;
}

.example-card2 {
    max-width: 400px;
} */

.dashboard-card {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 15px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.content {
    /* height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center; */

    /*  background-color: bisque; */
    /* width: 60%; */
    /* display: flex;
    justify-content: space-around; */
    /* margin-top: 15%;
    margin-left: 15%; */
    /* top: 50%;
    left: 50%;
    position: absolute; */


    /*  margin-top: 10%;
    display: flex;
    justify-content: space-evenly; */
    /*  background-color: bisque; */



    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    /*     justify-content: space-around;
    display: flex; */
}


mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}