.spacer {
    flex: 1;
    height: 40px;
    margin: 0 16px;
    opacity: 0.8;
}

.header_subtitle {
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.header.subtitle:hover {
    opacity: 0.8;
    cursor: pointer;
}

.toolbar #atlanse_logo {
    height: 40px;
    margin: 0 16px;
}

.toolbar #atlanse_logo:hover {
    opacity: 0.8;
}

/* mat-sidenav-content {
    background-color: antiquewhite;
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 2rem;
    color: lightgray;
  
    border-radius: 20px;
  } */

.cont {
    /*   background-color: antiquewhite; */
    height: calc(100vh - 97px);
    margin: 16px;
    margin-left: 30px;

    /* justify-content: center;
    align-items: center; */
    /* font-size: 2rem;
    color: lightgray; */
    /* border-radius: 10px; */
}

mat-toolbar {
    background-color: #4D4C7D;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 250px;
    border-right: none;
    color: white;
    background: #363062;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

mat-sidenav-container {
    height: auto;
    background-color: #e5e5e5;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: grey;
}

mat-icon {
    /* margin-right: 20px; */
    color: white;
}

.menuItem {
    margin-left: 40px;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.4rem;
    /* margin-left: 35%;
    margin-top: 10%; */
}

.name {
    margin: 0;
    margin-top: 8px;
    font-weight: normal;
}