<!-- <div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Project</button>
    </div>
</div> -->
<div class="row">
    <a href="#" class="list-group-item clearfix" *ngFor="let proj of projects">
        <div class="pull-left">
            <h3 class="list-group-item-heading">{{proj.id}}</h3>
            <h4 class="list-group-item-text">{{proj.name}}</h4>

            <p class="list-group-item-text">Description: {{proj.description}}</p>
            <br>
            <p class="list-group-item-number">Issues count : {{proj.open_issues_count}}</p>

        </div>
        <span class="pull-right">
            <img src="" alt="" class="img-responsive" style="max-height: 50px;">
        </span>
    </a>

</div>