<mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
<app-users-list (userWasSelected)="selectedUser = $event"></app-users-list>
<!-- <div *ngFor="let user of usersList">

    <br>
    id: {{user.id}}
    <br>
    name: {{user.name}}
    <br>
    username: {{user.username}}
    <br>
    avatar:
    <img mat-card-image src="{{user.avatar_url}}" style="width: 10%;">
    <br>
    <br>
    <mat-divider></mat-divider>

</div> -->


<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.md="33%" fxFlex.lg="33%"
            fxFlex.xl="20%" *ngFor="let user of activeUsersList">
            <mat-card class="mat-elevation-z4" style="width: 90%; align-content: center; align-items: center;">
                <mat-card-header>
                    <mat-card-title>{{user.name}}</mat-card-title>
                </mat-card-header>

                <img mat-card-image style="padding-left: 5%; padding-right: 5%; padding-top: 5%;"
                    src="{{user.avatar_url}}">
                <mat-card-content>
                    <p>
                        {{user.username}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="onUserSelected()">See More</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>