<!--  <button mat-icon-button (click)="showInfo(link)" >
            <mat-icon>info</mat-icon>
        </button> -->



<mat-card class="dashboard-card" (click)="onProjectSelected()">
    <mat-list-item class="altura">


        <!--  matLine style="cursor: pointer;" 
        [routerLink]="[index]" routerLinkActive="active" -->
        <a>
            Title: {{project_item.name}}
            <br>
            Id: {{project_item.id}}
            <br>
            Description: {{project_item.description}}
            <br>
            Issues: {{project_item.open_issues_count}}
            <br>
            <!--  <mat-divider></mat-divider> -->
        </a>
        <!--  <button mat-icon-button (click)="onProjectSelected()" class="end">
            <mat-icon>info</mat-icon>
        </button> -->

    </mat-list-item>
</mat-card>