<!--  <button mat-icon-button (click)="showInfo(link)" >
            <mat-icon>info</mat-icon>
        </button> -->

<mat-card>

    <mat-card-title-group>

        <mat-card-title>Title: {{project_item.name}}</mat-card-title>

        <mat-card-subtitle>
            <br>
            Id: {{project_item.id}}
            <br>
            Issues: {{project_item.open_issues_count}}
        </mat-card-subtitle>
    </mat-card-title-group>


    <mat-card-content>
        <div *ngIf="project_item.description">
            <!-- {{project_item.description}} -->
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button (click)="onProjectSelected()" i18n="@@btnid">See More</button>
    </mat-card-actions>

</mat-card>